<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.ecms.mapper.CustomerMapper">
    <select id="selectAll" resultType="org.example.ecms.entity.Customer">
        SELECT id, username, phone, email, password, nickname, avatar, level_id, points,
               status, register_time, last_login_time, updated_at
        FROM customer
        ORDER BY register_time DESC
    </select>
</mapper>
